{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
 
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.text}}</p>
        <p class="card-text"><small class="text-muted">{{post.author}}, {{post.pub_date}}</small></p>
      </div>
    </div>
  </div>
</div>

<h5>Комментарии:</h5>

{% if post.comment_set.all %}
{% for comment in post.comment_set.all %}
    <div class="card border-dark mt-3" style="max-width: 50rem;">
  <div class="card-header">{{comment.pub_date}}</div>
  <div class="card-body text-dark">
    <h5 class="card-title">{{comment.author}}</h5>
    <p class="card-text">{{comment.text}}</p>
  </div>
</div>
{% endfor %}
{% else %}
    <h5> Нет комментариев </h5>
{% endif %}

<div class='row'>
  <div class='col-8'>
    <form action="{%url 'add_comment_url' post.id %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type = "submit" class="btn btn-primary" 
        value="Опубликовать комментарий">
    </form>
  </div>
</div>

{% endblock content %}