{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p class="row justify-content-center">Некорректный ввод логина или пароля. Повторите попытку.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
<div class="row justify-content-center">
    <div class="col-md-2 mt-8">
    <h2>Авторизация</h2>
            {% csrf_token %}
                {{form}}
                <button class="btn btn-primary" type="submit">Авторизоваться</button>
    <p><a class="row justify-content-center" href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    </div>

</div>
</form>
{% endblock %}